<!DOCTYPE html>
<html>
  <head>Car Dealership</head>
  <body>
    <h1>Sell my Car Online</h1>
    <p><em>Your go-to for buying and selling cars</em></p>
    <br>
    <a href="/cars">Look up Cars for Sale?</a>
    <br>
    <a href="/cars/new">Post a Car to Sell?</a>
  </body>
</html>